@model SignUpModel
@{
    ViewData["Title"] = "Signup";
}

<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col-sm-3" id="sidenav">
            <a href="#">
                <button class="btn mr-2 mb-2 btn-primary border-dark sidenavbutton" type="button">
                    <span class="btn-text">About</span>
                </button>
            </a>
            <br>
            <a href="#">
                <button class="btn mr-2 mb-2 btn-primary border-dark sidenavbutton" type="button">
                    <span class="btn-text">Privacy</span>
                </button>
            </a>
            <br>
            <a href="#">
                <button class="btn mr-2 mb-2 btn-primary border-dark sidenavbutton" type="button">
                    <span class="btn-text">Settings</span>
                </button>
            </a>
        </div>
        <div class="container" style="margin:auto; width:50%;">
            <div class="row">
                <div class="card card-tertiary">
                    <div class="card-header">
                        Welcome to 90s Net
                    </div>
                    <div class="card-body">
                        Congratulations on your choice of 90s Net, the newest and easiest way to connect to your friends.
                        <br>
                        <br>
                        Please fill out this information and you will start connecting soon.
                        <br>

                        <br>
                        <form asp-action="Submit" asp-controller="SignUp" method="post">
                            <label asp-for="Name">Name: </label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <br>
                            <input asp-for="Name" />
                            <br>
                            <label asp-for="Email">Email: </label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <br>
                            <input asp-for="Email" />
                            <br>
                            <label asp-for="Username">Username: </label>
                            <span asp-validation-for="Username" class="text-danger"></span>
                            <br>
                            <input asp-for="Username" />
                            <br>
                            <label asp-for="Password">Password: </label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <br>
                            <input asp-for="Password">
                            <br>
                            <br />
                            <input type="submit">
                        </form>
                        <br>
                        <div>
                            Have an account? <a asp-controller="SignIn" asp-action="Index">Login here.</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>

