@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="card card-tertiary">
    <div class="card-header">
        <span class="ml-4 text-danger">@ViewData["Title"]</span>
    </div>
    <div class="card-body">
        <p class="card-text">
            You do not have access.
        </p>
    </div>
</div>