@page
@model LoginModel

<section class="min-vh-100 d-flex align-items-center bg-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card card-tertiary w-100 fmxw-400" style="width:400px !important;">
                    <div class="card-header text-center">
                        <span>Sign in</span>
                    </div>
                    <div class="card-body">
                        <form id="account" method="post" class="mt-4">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <p class="m-0"><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-primary">Login</button>
                            </div>
                        </form>
                        <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                            <p class="font-weight-normal">
                                Not registered?
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an account</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}