@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <div class="card card-tertiary">
            <div class="card-header">
                Edit user information
            </div>
            <form id="email-form" method="post">
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        @if (Model.IsEmailConfirmed)
                        {
                            <div class="input-group">
                                <input asp-for="Email" class="form-control is-valid" disabled />
                            </div>
                        }
                        else
                        {
                            <input asp-for="Email" class="form-control" disabled />
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.NewEmail"></label>
                        <input asp-for="Input.NewEmail" class="form-control" />
                        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                    </div>
                </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end mt-3">
                            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-sm mr-2 btn-primary">
                                <span class="btn-text">Change email</span>
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
