<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 90s Net</title>
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/pixel.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <header>
        <h1>90s Net</h1>
    </header>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery-3.5.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
    @RenderSection("Scripts", required: false)
</body>
</html>
