<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 90s Net</title>
    <!-- Bootstrap CSS file -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
    <!-- Pixel CSS -->
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="~/css/pixel.css">
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <header>
        <h1>90s Net</h1>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery-3.5.0.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
    @RenderSection("Scripts", required: false)
</body>
</html>
