@model MainNavPartialViewModel

<nav class="nav flex-column flex-row">
    <a class="btn mr-2 mb-2 btn-primary border-dark sidenavbutton nav-link active" asp-controller="Home" asp-action="Index">Feed</a>
    <br />
    <div class="btn-group dropright">
        <button type="button" class="btn btn-primary border-dark dropdown-toggle sidenavbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
        </button>
        <div class="dropdown-menu">
            @{
                var ProfileParameters = new Dictionary<string, string>()
                                                    {
                        { "username",  Model.Username }
                    };
            }
            <a class="dropdown-item" asp-controller="Profile" asp-action="Index" asp-all-route-data="ProfileParameters">View Profile</a>
            <a class="dropdown-item" id="profile" asp-area="Identity" asp-page="/Account/Manage/Index">Edit Profile</a>
            <a class="dropdown-item" id="email" asp-area="Identity" asp-page="/Account/Manage/Email">Change Email</a>
            <a class="dropdown-item" id="change-password" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change Password</a>
        </div>
    </div>
    <br />
    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="btn mr-2 mb-2 btn-primary border-dark sidenavbutton nav-link">
                <span class="btn-text">Logout</span>
            </button>
        </form>
</nav>