@model FeedModel
@using _90sTest.Entities;

@{
    ViewData["Title"] = "Home";
}

@{ Html.Html5DateRenderingMode = Html5DateRenderingMode.Rfc3339; }

<div class="card">
    <div class="card-header">
        New Post
    </div>
    <div class="card-body">
        <form asp-action="Submit" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-text">
                @Html.TextAreaFor(model => model.NewPostContent, new { @class = "form-control", @rows = 4 })
                <span asp-validation-for="NewPostContent" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-sm mr-2 btn-primary border-dark" type="submit">Post</button>
            </div>
        </form>
    </div>
</div>
<br />
@foreach (Post post in Model.Posts)
{
    var postModel = new PostModel() { Post = post };

    <partial name="_PostPartial" model="postModel" />
    <br>
}

<script>

    var d = new Date();
    var utcHours = d.getTimezoneOffset() / 60;

    var timeElements = document.getElementsByTagName("time");

    for (var i = 0, max = timeElements.length; i < max; i++) {
        var tempDate = new Date(timeElements[i].dateTime);
        tempDate.setTime(tempDate.getTime() - (utcHours * 60 * 60 * 1000));
        timeElements[i].dateTime = tempDate.toLocaleString();
        timeElements[i].innerText = timeElements[i].dateTime;
    }

</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_PostTimeScriptsPartial" />
}