@*@model IEnumerable<_90sTest.Entities.Post>

@foreach (_90sTest.Entities.Post post in Model)
{
    var declineParams = new Dictionary<string, string>()
                {
                        { "postId", post.PostId.ToString() }
                    };
    <div class="card">
        <div class="card-header">
            @post.User.Name (@@@Model.User.UserName)
        </div>
        <div class="card-body card-text">
            <p>
                @post.Content
            </p>
            <div class="d-flex justify-content-end mt-3">
                <div>@post.Date.ToString()</div>
                &nbsp;
                <div>@post.Likes Likes</div>
                &nbsp;
                @if (!IsUsersProfile)
                {
                    <a class="btn btn-sm mr-2 btn-primary border-dark" asp-action="Like" asp-controller="Home" asp-all-route-data="declineParams">Like</a>
                }
                else
                {
                    <a class="btn btn-sm mr-2 btn-primary border-dark" asp-action="Delete" asp-controller="Home" asp-all-route-data="declineParams">Delete</a>
                }

            </div>

        </div>
    </div>
    <br>
}*@